/********fonts**************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/******general*******/
:root {
  --main-color: #7857fe;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: #7857fe;
  --dark-to-main-color: #2b2c2f;
  --shadow-block-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-block-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000;
  --black-400: #555;
  --black-100: #f7f7f7;
  --black-000: #fff;
  --black-alpha-100: rgba(0, 0, 0, 0.5);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
  height: 5000px;
}
body.dark{
background-color: var(--bg-dark);
--black-100: var(--bg-dark);
--black-000: var(--bg-dark);
--main-to-dark-color: var(--bg-dark);
--dark-to-main-color: var(--main-color);
--shadow-block-100: var(--shadow-block-300);
--black-alpha-100: rgba(255, 255, 255, 0.05);
--black-900: #fff;
--black-400: #bbb;



}
* {
  padding: 0;
  margin: 0;
  outline: none !important;
  text-transform: capitalize;
}
.btn-1 {
  background-color: #ffffff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-block-300);
  font-weight: 500;
}
.btn-1:focus {
  box-shadow: var(--shadow-block-300);
}
.btn-1:hover {
  color: #fff;
  background-color: var(--main-color);
}
.btn-2 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-block-100);
  font-weight: 500;
}
.btn-2:focus {
  box-shadow: var(--shadow-block-100);
}
.btn-2:hover {
  color:var(--main-color);
  background-color:#fff;
}
.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}
.effect-wrap .effect-1 {
  top: 20%;
  left: 20%;
  font-size: 20px;
  color: var(--color-2);
  animation: span-01 5s linear infinite;
}
.effect-wrap .effect-2 {
  top: 10%;
  right: 5%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  animation: span-01 5s linear infinite;
}
.effect-wrap .effect-3 {
  bottom: 30%;
  left: 5%;
  font-size: 25px;
  color: var(--color-3);
  animation: bouncTop-01 3s linear infinite;
}
.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--black-900);
  text-align: center;
  font-weight: 700;
  margin: 0;
}
.section-title h2 span {
  color: var(--main-color);
}
.owl-carousel .owl-dots{
    padding: 0px 15px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel button.owl-dot{
    height: 6px;
    width: 24px;
    display: inline-block;
    margin: 0 4px;
    background-color: #ddd;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}
.preload{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2100;
  background-color: var(--main-to-dark-color);

}
.preload span{
  display: block;
  height: 60px;
  width: 60px;
  background-color: var(--dark-to-main-color);
  border-radius: 50%;
  animation: zoomInOut-01 1s ease-in-out infinite;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
@keyframes span-01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bouncTop-01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes plus-01 {
  0% {
    transform: scale(0.94);
    box-shadow: rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: rgba(255, 255, 255, 0);
  }
}
@keyframes zoomInOut-01 {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
/************navbar*************/
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 10px 0;
}
.navbar > .container {
  padding: 0 15px;
}
.navbar .navbar-brand {
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
}
.navbar .nav-item {
  margin-left: 40px;
}
.navbar .nav-item .nav-link {
  color: #ffffff;
  font-size: 16px;
  padding: 15px 0;
  text-transform: capitalize;
  font-weight: 400;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover:before {
  transform: scale(1);
}
/**********home*********/
.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-to-dark-color);
  border-radius: 0 0 200px 0;
  position: relative;
  overflow-x: hidden;
}
.home .home-text h1 {
  font-size: 45px;
  color: #fff;
  margin: 0 0 20px;
  font-weight: 700;
}
.home .home-text p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.home .home-text .home-btn {
  margin-top: 40px;
}
.home .home-text .video-play-btn {
  margin-left: 30px;
  height: 50px;
  width: 50px;
  font-size: 16px;
  padding: 0;
  animation: plus-01 2s ease infinite;
}
.home .home-text .video-play-btn:hover {
  animation: none;
  box-shadow: var(--shadow-block-300);
}
.home .home-text .video-play-btn i {
  line-height: 50px;
}
.home .home-img {
  position: relative;
}
.home .home-img .circle {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .home-img .circle::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  top: 30px;
  left: 30px;
  transform-origin: 170px 170px;
  animation: span-01 10s linear infinite;
}
.home .home-img img {
  max-width: 250px;
  width: 100%;
  box-shadow: var(--shadow-block-100);
  border-radius: 32px;
  animation: bouncTop-01 3s ease infinite;
}
/*****popup-video****/

.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(158, 113, 113, 0.7);
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.video-popup.open {
  opacity: 1;
  visibility: visible;
}
.video-popup .video-popup-inner {
  width: 100%;
  max-width: 900px;
  position: relative;
}
.video-popup .video-popup-inner .video-popup-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
.video-popup .video-popup-inner .iframe-box {
  height: 0;
  overflow: hidden;
  padding-top: 56.5%;
}
.video-popup .video-popup-inner .iframe-box #player-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/****features*****/
.features .features-item {
  box-shadow: var(--shadow-block-100);
  margin: 15px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.features .features-item::before,.features .features-item::after{
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;  
    opacity: 0;
    transition: all 0.5s ease;
} 
.features .features-item::before{
    width: 20px;
    height: 20px;
    background-color: var(--color-1);
    left: -20px;
    top: 40%;
}

.features .features-item:hover::before{
  opacity: 1;
  left: 10px;
}
.features .features-item::after{
    width: 30px;
    height: 30px;
    background-color: var(--color-2);
    right: -30px;
    top: 80%;
}
.features .features-item:hover::after{
    opacity: 1;
    right: -15px;
}
.features .features-item .icon {
  height: 60px;
  width: 60px;
  margin: 0px auto 30px;
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  position: relative;
}
.features .features-item .icon::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  z-index: -1;
  opacity: 0;
}
.features .features-item:hover .icon {
  color: #fff;
  font-size: 20px;
}
.features .features-item:hover .icon::before {
  left: 0;
  border-radius: 50%;
  opacity: 1;
}
.features .features-item .icon i {
  line-height: 60px;
}
.features .features-item h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 0px 0px 20px;
  color: var(--black-900);
}
.features .features-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: var(--black-400);
  margin: 0 0 15px;
}
/**********fun facts**************/
.fun-facts{
    background-color: var(--black-100);
}
.fun-facts .fun-facts-img img{
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-block-100);
    border-radius: 32px;
    animation: bouncTop-01 3s ease infinite;
}
.fun-facts .section-title{
    margin-bottom: 20px;
}
.fun-facts .section-title h2{
    text-align: left;
}
.fun-facts .fun-facts-text p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0 0 15px;
}
.fun-facts .fun-fact-item{
    padding:40px 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow:var(--shadow-block-100);
    margin-top: 30px;
}
.fun-facts .fun-fact-item h3{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 8px;
    color: #fff;
}
.fun-facts .fun-fact-item span{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    line-height: 26px;
    display: block;
    color: #fff;
}
.fun-facts .fun-fact-item.style-1{
    background-color: var(--color-1);
}
.fun-facts .fun-fact-item.style-2{
    background-color: var(--color-2);

}
.fun-facts .fun-fact-item.style-3{
    background-color: var(--color-3);

}
.fun-facts .fun-fact-item.style-4{
    background-color: var(--main-color);

}
/********screenshoots*******/
.screenshots-item{
  margin: 15px;
}
.screenshots-item img{
   width: 1005px;
   max-width: 250px;
   display: block;
   margin: auto;
}
/*******app-download************/
.app-download{
  background-image: url("../img/download-app-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;  
}
.app-download .section-title h2{
  color: #fff;
}
.app-download::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--main-to-dark-color);
  opacity: 0.8;
}
.app-download .app-download-item{
  background-color: var(--black-000);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow-block-100);

}
.app-download .app-download-item i{
  font-size: 30px;
  color: var(--main-color);
  display: inline-block;
}
.app-download .app-download-item h3{
  font-size: 22px;
  color: var(--black-900);
  margin: 20px 0;
  font-weight: 500;
}
.app-download .app-download-item p{
  font-size: 16px;
  font-weight: 300;
  color: var(--black-400);
  margin: 0 0 30px;
  line-height: 26px;
}
/********how-it-work***********/
.how-it-work-item{
  text-align: center;
  padding: 30px;
  position: relative;
  z-index: 1;
}
.how-it-work-item.line-right::before{
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 50%;
  top: 60px;
  background-color: var(--main-color);
  z-index: -1;
}
.how-it-work-item .step{
  height: 60px;
  width: 60px;
  line-height: 60px;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  font-weight: 500;
  margin: 0px 0px 15px;

}
.how-it-work-item h3{
 margin: 20px 0;
 font-size: 22px;
 font-weight: 500;
 color: var(--black-900);
}
.how-it-work-item p{
font-size: 16px;
font-weight: 300;
margin: 0;
line-height: 26px;
color: var(--black-400);
}
/*********testimonials****/
.testimonials{
  background-color:var(--black-100);
}
.testimonial-item{
  margin: 15px;
  padding: 30px;
  box-shadow: var(--shadow-block-100);
  border-radius: 10px;
  text-align: center;

}
.testimonial-item .img-box{
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  position: relative;
}
.testimonial-item .img-box img{
  width: 100%;
  border-radius: 50%;
}
.testimonial-item .img-box i{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  color:#fff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  top: calc(50% - 15px);
  left: calc(100% - 15px);
}
.testimonial-item p{
  font-size: 16px;
  margin:0 0 20px;
  color: var(--black-400);
  line-height: 26px;
  font-weight: 300;
}
.testimonial-item h3{
  font-size: 22px;
  margin:0 0 5px;
  color: var(--black-900);
  font-weight: 500;
}
.testimonial-item span{
  font-size: 16px;
  display: block;
  color: var(--black-400);
  font-weight: 300;
}
.testimonial-item .rating{
 margin-top: 10px;
}
.testimonial-item .rating i{
  display: inline-block;
  color: var(--color-2);
  font-size: 16px;
}

/*********pricing-plan********/
.pricing-plan{
  box-shadow: var(--shadow-block-100);
  border-radius: 10px;
}
.pricing-plan .pricing-header{
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
}
.pricing-plan .pricing-header h3{
  text-align: center;
  font-size: 30px;
  color: var(--black-900);
  font-weight: 500;
  margin: 0;

}
.pricing-plan .pricing-price{
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  line-height: 0.7;
}
.pricing-plan .pricing-price .currency{
  font-size: 16px;
  font-weight: 300;
  color: var(--black-400);
  margin-right: 5px;
  align-self: flex-start;
}
.pricing-plan .pricing-price .price{
  font-size: 80px;
  font-weight: 700;
  color: var(--main-color);
}
.pricing-plan .pricing-price .period{
  font-size: 14px;
  font-weight: 300;
  color: var(--black-400);
  margin-right: 5px;
  align-self: flex-end;
}

.pricing-plan .pricing-body{
  padding: 0px 30px;
}
.pricing-plan .pricing-body ul li{
  font-size: 16px;
  font-weight: 300;
  color: var(--black-400);
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid #ddd;
  position: relative;

}
.pricing-plan .pricing-body ul li:last-child{
  border-bottom: none;
}
.pricing-plan .pricing-body ul li i{
  color: var(--main-color);
  position: absolute;
  left: 0;top: 12px;
}
.pricing-plan .pricing-footer{
  padding: 20px 30px 30px;
  text-align: center;
}
/*********team**************/
.team{
  background-color: var(--black-100);

}
.team-item{
  margin: 15px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--shadow-block-100);
}
.team-item h3{
  font-size: 16px;
  font-weight: 500;
  color: var(--black-900);
  margin: 15px 0px 8px;

}
.team-item span{
  font-size: 16px;
  display: block;
  color: var(--black-400);
  font-weight: 300;
}
/******faq******/
.faq .accordion-item:not(:last-child){
  margin-bottom: 20px;
}
.faq .accordion-header{
  box-shadow: var(--shadow-block-100);
  padding: 20px 50px 20px 30px;
  border: none;
  background-color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}
.faq .accordion-header::before{
  content: "\f067";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: var(--black-400);
  transition: all 0.5s ease;

}
.faq .accordion-header:not(.collapsed)::before{
  content: "\f068";
  color: #fff;
}
.faq .accordion-header:not(.collapsed){
  background-color: var(--main-color);
  box-shadow: none;
}
.faq .accordion-header h3{
  font-size: 18px;
  font-weight: 500;
  color: var(--black-400);
  margin: 0;
  transition: all 0.5s ease;
}
.faq .accordion-header:not(.collapsed) h3{
  color: #fff;
}
/* .faq .card .card-header:not(.collapsed) a{
  color: #fff;
} */

.faq .accordion-body{
  padding:20px 30px;
  background-color: var(--black-100);
}
.faq .accordion-body p{
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  color: var(--black-400);

}
/*******contact*******/
.contact{
  background-color: var(--black-100);
}
.contact .contact-info h3{
   font-size: 22px;
   font-weight: 500;
   color: var(--black-900);
   margin: 0px 0px 40px;
}
.contact .contact-info-item{
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
}
.contact .contact-info-item i{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 38px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  text-align: center;
}
.contact .contact-info-item h4{
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px;
  color: var(--black-900);
}
.contact .contact-info-item p{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
  color: var(--black-400);
}
.contact-form .form-group{
  margin-bottom: 30px;
}
.contact-form .form-control{
  height: 52px;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: var(--shadow-block-100);
  padding: 0px 24px;
  color: var(--black-900);
  background-color: var(--black-000);
  transition: all 0.5s ease;

}
.contact-form .form-control:focus{
  border-color: var(--main-color);
}
.contact-form textarea.form-control{
  height: 140px;
  resize: none;
  padding-top: 12px;
}
/********footer***********/
.footer{
  padding: 50px 0 0;
  background-color: var(--main-color);
}
.footer .footer-col h3{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 0px 0px 25px;
}
.footer .footer-col p{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}
.footer .footer-col ul{
  margin: 0;
}
.footer .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer .footer-col ul li a{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  display: block;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer .footer-col ul li a:hover{
  padding-left: 5px;
}
.footer .copyright-text{
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin: 50px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/****toggle theme****/
.toggle-theme{
  position: fixed;
  right: 0;
  top: calc(50% - 20px);
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow-block-300);
  background-color: var(--dark-to-main-color);
  z-index: 1200;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
/********media query*******/
@media (max-width:991px) {
  .navbar-toggler{
    background-color: var(--bg-dark);
    color: #fff;
    box-shadow: var(--shadow-block-300);
    font-size: 16px;
    padding: 0;
    height: 34px;
    width: 44px;
  }
  .navbar-nav{
    background-color: var(--bg-dark);
    box-shadow: var(--shadow-block-300);

  }
  .navbar .nav-item{
    margin: 0;
    padding: 5px 15px;
  }
  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav{
    background-color: var(--main-color);
  }
  .home-img .circle{
    width: 320px !important;
    height: 320px !important;
  }
  .home-img .circle::before{
    left: 18px !important;
    top: 18px !important;
    transform-origin: 142px 142px !important;
  }
  .home-text h1{
    font-size: 40px !important;
  }
  .app-download-item,.pricing-plan{
    margin-bottom: 30px;
  }
  .how-it-work-item.line-right::before{
    content: none;
  }
  .how-it-work-item{
    box-shadow: var(--shadow-block-100);
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .contact-form{
    margin-top: 20px;
  }
  .footer-col{
    margin-bottom: 30px;
  }
  
}
@media (max-width:767px) {
  .home-text {
    margin-bottom: 80px;
  }
  .fun-facts-img {
    margin-bottom: 30px;
  }
  .fun-facts .section-title h2{
    text-align: center;
  }
  .fun-facts .fun-facts-text p{
    text-align: center;
  }
  .section-title h2{
    font-size: 35px;
  }
}
@media (max-width:575px) {
  .home-text h1 {
    font-size: 30px !important;
  }
  .home-text p{
    font-size: 16px;
  }
  .section-title h2{
    font-size: 25px;
  }
  .home .home-text .video-play-btn {
       margin-left: 10px;
  }

}












